.button{
    border: 1px solid $base-color;
    color: $base-color;
    padding: 10px 20px;
    font-weight: 500;
    transition-duration: 0.2s;
}

.button:hover{
    background-color: $base-color;
    color: $second-background-color;
}