<section class="favourites">
    <h1 class="section-title">Favorites</h1>
    <div class="favourites-section">
        <button class="list-prev-button" type="button">
            <img id="list-prev-button-image" src="../../src/static/images/arrow.png" alt="prev-teacher">
        </button>
        <button class="list-next-button" type="button">
            <img id="list-next-button-image" src="../../src/static/images/arrow.png" alt="next-teacher">
        </button>
        <div class="favourites-list">
            <div class="teacher-card">
                <div class="wrapper">
                    <div class="teacher-photo-clipper"><img class="teacher-photo-avatar" src="../../src/static/images/mykola.jpg" alt="teacher-photo"></div>
                </div>
                <div class="info">
                    <div class="name">
                        <p>Mykola</p>
                        <p>Zyrianov</p>
                    </div>
                    <p class="country">Nepal</p>
                </div>
            </div>
            <div class="teacher-card">
                <div class="wrapper">
                    <div class="teacher-photo-clipper"><img class="teacher-photo-avatar" src="../../src/static/images/mykola.jpg" alt="teacher-photo"></div>
                </div>
                <div class="info">
                    <div class="name">
                        <p>Mykola</p>
                        <p>Zyrianov</p>
                    </div>
                    <p class="country">Nepal</p>
                </div>
            </div>
            <div class="teacher-card">
                <div class="wrapper">
                    <div class="teacher-photo-clipper"><img class="teacher-photo-avatar" src="../../src/static/images/ira.jpg" alt="teacher-photo"></div>
                </div>
                <div class="info">
                    <div class="name">
                        <p>Ira</p>
                        <p>Destiny</p>
                    </div>
                    <p class="country">Germany</p>
                </div>
            </div>
            <div class="teacher-card">
                <div class="wrapper">
                    <div class="teacher-text-avatar"><span>I.D.</span></div>
                </div>
                <div class="info">
                    <div class="name">
                        <p>Ira</p>
                        <p>Destiny</p>
                    </div>
                    <p class="country">Germany</p>
                </div>
            </div>
            <div class="teacher-card">
                <div class="wrapper">
                    <div class="teacher-photo-clipper"><img class="teacher-photo-avatar" src="../../src/static/images/ira.jpg" alt="teacher-photo"></div>
                </div>
                <div class="info">
                    <div class="name">
                        <p>Ira</p>
                        <p>Destiny</p>
                    </div>
                    <p class="country">Germany</p>
                </div>
            </div>
        </div>
    </div>
</section>