<footer>
    <div class="footer-wrapper">
        <p class="footer-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A atque facere, hic impedit itaque molestiae sit tempore? Ea in mollitia natus rerum
            voluptates. Ea ex excepturi facere tempora. Aliquid asperiores hic impedit iusto natus quaerat ratione sit? Culpa iusto optio voluptas voluptate.
            Enim eveniet fugit iure maiores molestiae, praesentium quia.</p>
        <p class="footer-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam eligendi illum in inventore ipsum odio officiis omnis quisquam sed tempora?</p>
        <p class="footer-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A atque esse expedita id iusto mollitia, odit sint ullam veritatis vero?</p>
    </div>
    <div class="header-bottom">
        <nav class="footer-nav-bar">
            <ul class="nav-list">
                <li><a href="#">Teachers</a></li>
                <li><a href="#">Statistics</a></li>
                <li><a href="#">Favourites</a></li>
                <li><a href="#">About</a></li>
            </ul>
        </nav>
        <button class="standard-button add-teacher-button" type="button">Add teacher</button>
    </div>
</footer>