<section class="statistics-section">
    <h1 class="section-title">Statistics</h1>
    <div class="statistics-container">
        <table class="statistics-table">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Speciality</th>
                    <th scope="col">Age</th>
                    <th scope="col">Gender</th>
                    <th scope="col">Nationality</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Michael Browinsky</td>
                    <td>Economics</td>
                    <td>69</td>
                    <td>Male</td>
                    <td>Estonia</td>
                </tr>
                <tr>
                    <td>Scarlet Johanson</td>
                    <td>Art</td>
                    <td>33</td>
                    <td>Female</td>
                    <td>Ireland</td>
                </tr>
                <tr>
                    <td>Trevor Philips</td>
                    <td>Sports</td>
                    <td>55</td>
                    <td>Male</td>
                    <td>Canada</td>
                </tr>
                <tr>
                    <td>Franklin Clinton</td>
                    <td>Math</td>
                    <td>21</td>
                    <td>Male</td>
                    <td>USA</td>
                </tr>
                <tr>
                    <td>Michael De Santa</td>
                    <td>Computer Science</td>
                    <td>42</td>
                    <td>Male</td>
                    <td>USA</td>
                </tr>
                <tr>
                    <td>Ryan Gosling</td>
                    <td>Chess</td>
                    <td>35</td>
                    <td>Male</td>
                    <td>Greece</td>
                </tr>
                <tr>
                    <td>Vito Scaletto</td>
                    <td>Physics</td>
                    <td>22</td>
                    <td>Male</td>
                    <td>Italia</td>
                </tr>
                <tr>
                    <td>Brian O`Connor</td>
                    <td>Driving</td>
                    <td>25</td>
                    <td>Male</td>
                    <td>USA</td>
                </tr>
                <tr>
                    <td>Sabrina Carpenter</td>
                    <td>Music</td>
                    <td>22</td>
                    <td>Female</td>
                    <td>Spain</td>
                </tr>
                <tr>
                    <td>Steve Harvey</td>
                    <td>Logic</td>
                    <td>69</td>
                    <td>Male</td>
                    <td>USA</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="navigation-buttons">
        <ul>
            <li><a href="#" aria-current="page">1</a>></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">...</a></li>
            <li><a href="#" rel="last">last</a></li>
        </ul>
    </div>
</section>