<section class="top-teachers">
    <h1 class="section-title">Top Teachers</h1>
    <div class="filters">
        <div class="filter-group">
            <label for="age-filter">Age</label>
            <select id="age-filter" name="age">
                <option value="18-31">18-31</option>
            </select>
        </div>
        <span class="separator">|</span>
        <div class="filter-group">
            <label for="region-filter">Region</label>
            <select id="region-filter" name="region">
                <option value="europe">Europe</option>
            </select>
        </div>
        <span class="separator">|</span>
        <div class="filter-group">
            <label for="sex-filter">Sex</label>
            <select id="sex-filter" name="sex">
                <option value="Male">Male</option>
            </select>
        </div>
        <span class="separator">|</span>
        <div class="filter-group">
            <input id="photo-filter" type="checkbox" name="only-with-photo" />
            <label for="photo-filter">Only with photo</label>
        </div>
        <span class="separator">|</span>
        <div class="filter-group">
            <input id="only-favourites-filter" type="checkbox" name="only-favourites" />
            <label for="only-favourites-filter">Only favourites</label>
        </div>
    </div>
    <div class="teachers-list">
        <div class="teacher-card">
            <div class="wrapper">
                <img class="teacher-star" src="../../src/static/images/star.png" alt="starred-teacher">
                <div class="teacher-photo-clipper"><img class="teacher-photo-avatar" src="../../src/static/images/mykola.jpg" alt="teacher-photo"></div>
            </div>
            <div class="info">
                <div class="name">
                    <p>Mykola</p>
                    <p>Zyrianov</p>
                </div>
                <p class="subject">Literature</p>
                <p class="country">Nepal</p>
            </div>
        </div>
        <div class="teacher-card">
            <div class="wrapper">
                <img class="teacher-star" src="../../src/static/images/star.png" alt="starred-teacher">
                <div class="teacher-photo-clipper"><img class="teacher-photo-avatar" src="../../src/static/images/ira.jpg" alt="teacher-photo"></div>
            </div>
            <div class="info">
                <div class="name">
                    <p>Ira</p>
                    <p>Destiny</p>
                </div>
                <p class="subject">Physics</p>
                <p class="country">Germany</p>
            </div>
        </div>
        <div class="teacher-card">
            <div class="wrapper">
                <img class="teacher-star" style="display: none;" src="../../src/static/images/star.png" alt="starred-teacher">
                <div class="teacher-photo-clipper"><img class="teacher-photo-avatar" src="../../src/static/images/mykola.jpg" alt="teacher-photo"></div>
            </div>
            <div class="info">
                <div class="name">
                    <p>Mykola</p>
                    <p>Zyrianov</p>
                </div>
                <p class="subject">Literature</p>
                <p class="country">Nepal</p>
            </div>
        </div>
        <div class="teacher-card">
            <div class="wrapper">
                <img class="teacher-star" style="display: none;" src="../../src/static/images/star.png" alt="starred-teacher">
                <div class="teacher-photo-clipper"><img class="teacher-photo-avatar" src="../../src/static/images/ira.jpg" alt="teacher-photo"></div>
            </div>
            <div class="info">
                <div class="name">
                    <p>Ira</p>
                    <p>Destiny</p>
                </div>
                <p class="subject">Physics</p>
                <p class="country">Germany</p>
            </div>
        </div>
        <div class="teacher-card">
            <div class="wrapper">
                <img class="teacher-star" src="../../src/static/images/star.png" alt="teacher-star">
                <div class="teacher-text-avatar"><span>I.D.</span></div>
            </div>
            <div class="teacher-info">
                <div class="name">
                    <p>Ira</p>
                    <p>Destiny</p>
                </div>
                <p class="subject">Physics</p>
                <p class="country">Germany</p>
            </div>
        </div>
        <div class="teacher-card">
            <div class="wrapper">
                <img class="teacher-star" style="display: none;" src="../../src/static/images/star.png" alt="teacher-star">
                <div class="teacher-text-avatar"><span>I.D.</span></div>
            </div>
            <div class="info">
                <div class="name">
                    <p>Ira</p>
                    <p>Destiny</p>
                </div>
                <p class="subject">Physics</p>
                <p class="country">Germany</p>
            </div>
        </div>
    </div>
</section>