$base-color: #DF3E39; 
$secondary-font-color: #222222; 
$not-important-font-color: gray;
$font-url-color: #007bff;
$background-color: #FFFFFF; 
$second-background-color: #FCFCFC;

$base-font-size: 16px; 
$large-font-size: 22px; 
$small-font-size: 14px; 
$bold-font: 400;
$base-font-family: 'Roboto Flex', sans-serif; 
$secondary-font-family: 'Arial', sans-serif; 

$base-margin: 20px; 
$base-padding: 15px; 

$container-width: 1280px; 
$section-margin: 50px;

$base-border-radius: 5px; 
$base-border-color: #E0E0E0; 

$base-box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
