//screen size
$mobile: 480px;
$tablet: 768px;
$desktop: 1024px;
$large-desktop: 1200px;
//
// //apply styles based on device width
// body {
//   width: 100%;
//   padding: 20px;
//
//   @media (max-width: $mobile) {
//     padding: 10px; // Mobile-specific padding
//   }
//
//   @media (min-width: $tablet) and (max-width: $desktop) {
//     padding: 15px; // Tablet and small desktop-specific padding
//   }
//
//   @media (min-width: $large-desktop) {
//     padding: 30px; // Large desktop-specific padding
//   }
// }

//general and main fonts
$main_header_font: "Times New Roman";
$main_header_generic_font: serif;
$section_header_font_size: 26pt;
$default_font_size: 12pt;
$small_font_size: 8px;
$tiny_font_size: 6px;
$large_font_size: 14pt;
$page_font: "Calibri (Body)";
$generic_font: sans-serif;

//section header
$section_header_padding_ver: 30px;
$section_header_width: 400px;

//navs
$nav_item_margin: 50px;
$controls_padding: 20px;

//general sizing
$search_width: 195px;
$block_padding_ver: 25px;
$block_padding_hor: 80px;
$main_header_size: 32pt;
$paragraph_margin: 10px;

//colors
$color_main: rgb(230, 90, 75);
$color_main_dark: rgb(200, 80, 55);
$color_secondary: white;
$color_third: black;
$color_controls: darkgrey;

//table colors
$table_row_even_color: rgb(250, 240, 250);
$table_header_on_hover_color: rgb(250, 250, 250);
$table_controls_color: rgb(80, 175, 200);
$table_controls_on_hover_color: rgb(50, 100, 110);
$table_sort_offset: 80px;

//table stuff
$filters_padding: 10px;


body {
  font: $default_font_size $page_font, $generic_font;
  //attempts at making the gaps at sides
  margin: 0 15% 0 15%;
  border-right: 0.5px solid grey;
  border-left: 0.5px solid grey;
  padding-right: 1%;
  padding-left: 1%;
}

header div, footer div {
  display: flex;
  justify-content: space-between;
  align-items: center;  //aligns items vertically along the center of the header
}

header div, footer div {
margin: 0 $block_padding_hor 0 $block_padding_hor;
padding: $block_padding_ver 0 $block_padding_ver/2 0;
}

.content-block{
  padding: $block_padding_ver $block_padding_hor calc($block_padding_ver/2) $block_padding_hor;
}

//TITLE
.main-header {
//border:  1px solid #000;
  //text-align: left;
  font: $main_header_size $main_header_font, $main_header_generic_font;
  //need to somehow merge the shadows so there's 2 instead of 4
  text-shadow: -1.7px 0 $color_main, 0 1.2px $color_third, 2.2px 0 $color_third, 0 -1.5px $color_main;
  color: $color_secondary;
  &:hover {
    text-shadow: -3px -0.5px $color_main, 3px 0.5px $color_third;
    color: #EDEFEE;
  }
}

.search-combo {
//border: 1px solid #000;
//padding-top: calc($block_padding_ver - 1%); //I dunno, come up with a way to make it proper size
 }

.input_search {
  padding: calc($controls_padding/2) calc($controls_padding/4) calc($controls_padding/2) calc($controls_padding/4);
  width: $search_width;
  border-width: 1px;
  border-radius: 2px;
  color: $color_controls;
  &:hover {
    width: $search_width*1.2;
  }
}

//BUTTONS
.search_teacher_btn, .add_teacher {
  border: 1px solid $color_main;
  background-color: $color_secondary;
  color: $color_main;
  padding: calc($controls_padding/2) $controls_padding calc($controls_padding/2) $controls_padding;
  &:hover {
    background-color: $color_main;
    color: $color_secondary;
  }
}

.add_teacher {
  //border: 1px solid #000;
  font-size: $large_font_size;
  transform: translateY(-2px);

}

//NAVS
.main-navigation, .footer-navigation {
  //border: 1px solid #000;
  //display: flex;
  //justify-content: space-evenly;
}

.main-navigation li, .footer-navigation li {
  display: inline-block;
  margin-right: $nav_item_margin;
}

.main-navigation {
font-weight: bold;
}

.link-navigation {
  color: $color_main;
  text-decoration: none;
  font-size: $large_font_size;
}
  .link-navigation:hover {
    color: rgb(190, 82, 61);
  }



.section-header{
  h2 {
    font-size: $section_header_font_size;
    display: inline-block;
    font-weight: bold;
  }
  width: $section_header_width;
  //make constant value for margin for section header
  margin: auto;
  border-top: 1px solid $color_third;
  padding: $section_header_padding_ver 0 $section_header_padding_ver 0;
}

//FAVS
.filter-controls {
  &:not(:first-child) {
    padding-left: $filters_padding;
  }

  &:not(:last-child) {
    border-right: 1px dotted $color_controls;
    padding-right: $filters_padding;
  }

  &:nth-last-child(-n+2) {
    padding-top: calc($filters_padding/2);
    padding-bottom: calc($filters_padding/2);
  }
  label {
    color: $color_controls;
    font-size: 10pt;
    &:hover {
      color: $color_third!important;
    }
  }
  select {
    padding: calc($filters_padding/2);
  }
}




//STATS
table {
  table-layout: fixed;
  width: 100%;
}

thead {
    tr {
      font-weight: lighter;

        th, td {
                padding: $filters_padding;
                position: relative;
                text-align: center;
                &:first-child {
                  text-align: center;
                }
              }
              th {
                border-bottom: 1px solid $color_third;
                &:hover {
                  border-bottom: 5px solid $color_third;
                  background-color: $table_header_on_hover_color;
                  .sort-arrow {
                    display: inline;
                  }
                }
              }
            }
        }

.statistics-table-head {
  border-bottom: 1px solid $color_third;
  font-size: calc($default_font_size + 2pt);
}

.table-navigation {
  text-align: left;
  font-weight: lighter;
  padding: $filters_padding;
  .hidden {
    display: none;
  }
}
.sort-arrow {
  display: none;
  position: absolute;
  font-size: $large_font_size;
  margin: auto;
}

.button-navigation, .sort-arrow {
  color: $table_controls_color;
  border: none;
  background: none;
  padding: 0;
  margin: 0 $filters_padding 0 $filters_padding;
  &:hover {
    color: $table_controls_on_hover_color;
  }
}


.statistics-table-body td {
  padding: 10px;
}
.statistics-table-body tr:nth-child(even) {
  background-color: $table_row_even_color;
}


#about p {
text-align: left;
font-size: $default_font_size;
margin-top: $paragraph_margin;
}