$color-white: #ffffff;
$color-orange: #f45d4a;
$color-orange-2: #f75c48;
$color-orange-3: #ce3d1e;
$color-black: #000000;
$color-grey: #00000070;
$color-grey-1: #454547;
$color-light-grey: #f5f5f5;

$color-light-cyan: #109c7b;
$color-light-cyan-2: #0e8a6d;
